<a href="{{ site.scholar_link }}"><img src="https://scholar.google.com/favicon.ico" height="16px" width="16px" /></a>
<a href="{{ site.orcid_link }}"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" height="16px" width="16px" /></a>
<a href="{{ site.bitbucket_link }}"><img src="https://bitbucket.org/favicon.ico" height="16px" width="16px" /></a>
<a href="{{ site.github_link }}"><img src="https://github.githubassets.com/pinned-octocat.svg" height="16px" width="16px" /></a>

