---
---

@import "{{ site.theme }}";

/* Links */
a:visited { color: #2a7ae2; }

/* Images */
.img-left {
	display: block;
	margin-right: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
  float: left;
	border: 1px solid black;
}

.img-right {
	display: block;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: right;
	border: 1px solid black;
}

.no-margin-top {
	margin-top: auto;
}

/* General */
.abstract {
	clear: left;
	display: block;
}

